{% extends '@EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>List campaign</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}

    <body>
    <div class="container" style="align-items: center; display: flex; justify-content: center">
        <button id="show_allmycampaign">List all my campaigns</button>
        <button id="show_my_campaign_OnGoing">My campaigns OnGoing</button>
        <button id="show_my_campaign_finish">My campaigns finish</button>
    </div>

    <div id="allmycampaigns" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
{#            {% if mycampaign.session.campaign.status.name == "finish" %}#}
                <div class="card" style="width: 30%">
                    <div class="container">
                        <input type="hidden" value="{{ mycampaign.id }}" id="campaignID">
                        <h4>{{ mycampaign.session.campaign.name }}</h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsCampaign{{ mycampaign.id }}">Details campaigns</button>
                    </div>
                </div>

                <div class="modal" id="detailsCampaign{{ mycampaign.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {% if mycampaign.session.campaign.status.name == "soon" %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: blue">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% elseif mycampaign.session.campaign.status.name == "ongoing" %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: green">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% else %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: red">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ mycampaign.session.campaign.description }}</p>
                                <p>{{ details.name }}</p>
                                <p>{{ details.type }}</p>
                                <p>{{ details.gender }}</p>
{#                                <p>{{ details.age_range }}</p>#}
                                {% if mycampaign.session.campaign.status.name == "finish" %}
                                    <h5 style="text-align: center"><a href="{{ path("campaign_details", {id:mycampaign.session.campaign.id}) }}" target="_blank">Accéder aux statistiques</a></h5>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <p>{{mycampaign.session.campaign.datestart |date("m/d/Y")}} - {{mycampaign.session.campaign.dateend |date("m/d/Y")}}  </p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
{#            {% endif %}#}
        {% endfor %}
    </div>

    <div id="mycampaignOnGoing" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.session.campaign.status.name == "ongoing" and mycampaign.status.name == "accepted" %}
                <div class="card" style="width: 30%">
                    <div class="container">
                        <h4>{{ mycampaign.session.campaign.name }}</h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsCampaign1{{ mycampaign.id }}">Details campaigns</button>
                    </div>
                </div>
                <div class="modal" id="detailsCampaign1{{ mycampaign.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {% if mycampaign.session.campaign.status.name == "soon" %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: blue">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% elseif mycampaign.session.campaign.status.name == "ongoing" %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: green">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% else %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: red">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ mycampaign.session.campaign.description }}</p>
                                <p>{{ details.name }}</p>
                                <p>{{ details.type }}</p>
                                <p>{{ details.gender }}</p>
                                {#                                <p>{{ details.age_range }}</p>#}
                            </div>
                            <div class="modal-footer">
                                <p>{{mycampaign.session.campaign.datestart |date("m/d/Y")}} - {{mycampaign.session.campaign.dateend |date("m/d/Y")}}  </p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="mycampaignFinish" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.session.campaign.status.name == "finish" and mycampaign.status.name == "accepted" %}
                <div class="card" style="width: 30%">
                    <div class="container">
                        <h4>{{ mycampaign.session.campaign.name }}</h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsCampaign2{{ mycampaign.id }}">Details campaigns</button>
                    </div>
                </div>

                <div class="modal" id="detailsCampaign2{{ mycampaign.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {% if mycampaign.session.campaign.status.name == "soon" %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: blue">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% elseif mycampaign.session.campaign.status.name == "ongoing" %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: green">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% else %}
                                    <h5 class="modal-title" id="exampleModalLabel">{{ mycampaign.session.campaign.name }} - <span style="color: red">{{ mycampaign.session.campaign.status.name }}</span></h5>
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ mycampaign.session.campaign.description }}</p>
                                <p>{{ details.name }}</p>
                                <p>{{ details.type }}</p>
                                <p>{{ details.gender }}</p>
                                {#                                <p>{{ details.age_range }}</p>#}

                                <h5 style="text-align: center"><a href="{{ path("campaign_details", {id:mycampaign.session.campaign.id}) }}" target="_blank">Accéder aux statistiques</a></h5>
                            </div>
                            <div class="modal-footer">
                                <p>{{mycampaign.session.campaign.datestart |date("m/d/Y")}} - {{mycampaign.session.campaign.dateend |date("m/d/Y")}}  </p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
    {% block javascripts %}
        <script>

            $('[data-toggle="tooltip"]').tooltip();

            //button
            let show_allmycampaign = document.getElementById("show_allmycampaign");
            let show_my_campaign_OnGoing = document.getElementById("show_my_campaign_OnGoing");
            let show_my_campaign_finish = document.getElementById("show_my_campaign_finish");

            //div
            let allmycampaigns = document.getElementById("allmycampaigns");
            let mycampaignOnGoing = document.getElementById("mycampaignOnGoing");
            let mycampaignFinish = document.getElementById("mycampaignFinish");

            allmycampaigns.style.visibility = "visible";
            mycampaignOnGoing.style.visibility = "hidden";
            mycampaignFinish.style.visibility = "hidden";


            show_allmycampaign.addEventListener("click", function() {
                allmycampaigns.style.visibility = "visible";
                mycampaignOnGoing.style.visibility = "hidden";
                mycampaignFinish.style.visibility = "hidden";
            });

            show_my_campaign_OnGoing.addEventListener("click", function() {
                mycampaignOnGoing.style.visibility = "visible";
                allmycampaigns.style.visibility = "hidden";
                mycampaignFinish.style.visibility = "hidden";
            });

            show_my_campaign_finish.addEventListener("click", function() {
                mycampaignFinish.style.visibility = "visible";
                allmycampaigns.style.visibility = "hidden";
                mycampaignOnGoing.style.visibility = "hidden";
            });


            let id_campaign = document.getElementById('campaignID').value;
            let detail_campaign = document.getElementById("detail_campaign_" + id_campaign);

            let answers = []
            function val(question_id) {
                let choice = document.getElementById("qcm" + question_id).value;
                answers.push(choice);
                console.log(answers);
            }

        </script>

    {% endblock %}
{% endblock %}




