{% extends '@EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>List campaign</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <body>
    <div class="container" style="align-items: center; display: flex; justify-content: center">
        <button id="show_allmycampaign">List all my campaigns</button>
        <button id="show_my_campaign_OnGoing">My campaigns OnGoing</button>
        <button id="show_my_campaign_finish">My campaigns finish</button>
    </div>

    <div id="allmycampaigns" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
{#            {% dump mycampaign.session.campaign.status.name %}#}
{#            {% dump details %}#}
            {% if mycampaign.session.campaign.status.name == "finish" %}
                <div class="card" style="width: 30%">
                    <div class="container">
                        <input type="hidden" value="{{ mycampaign.id }}" id="campaignID">
                        <p>{{ mycampaign.session.campaign.name }}</p>
                        <p>{{ mycampaign.session.campaign.description }}</p>
{#                        <button type="button" data-toggle="modal" data-target="#detailsCampaign{{ mycampaign.id }}">Detail campaign ICI</button>#}
                        <a href="{{ path("campaign_details", {id:mycampaign.session.campaign.id}) }}" target="_blank">Cliquer ici</a>
                    </div>
                </div>

                <div id="detailsCampaign{{ mycampaign.id }}" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                {% if details.campaign.id == mycampaign.id %}
                                    <p>name :{{ details.name }}</p>
                                    <p>type:{{ details.type }}</p>
                                {% endif %}
                                {% if mycampaign.session.campaign.status.name == "finish" %}
{#                                    {{ dump(questions) }}#}
                                    <canvas id="labels" width="400" height="100"></canvas>
{#                                    <span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><button type="button" data-dismiss="modal" data-toggle="modal" data-target="#qcm-campaign{{ mycampaign.id }}">qcm</button></span>#}
{#                                {% else %}#}
{#                                    <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#qcm-campaign{{ mycampaign.id }}"  disabled>qcm</button>#}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="qcm-campaign{{ mycampaign.id }}" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <i class="fa fa-angle-double-left" data-dismiss="modal" data-toggle="modal" data-target="#detailsCampaign{{ mycampaign.id }}"></i>
                                <h1>QCM de la campaign {{ mycampaign.id }}</h1>
                                {% for question in questions %}
                                    {% if question.campaign.id == mycampaign.id %}
                                        <h3>{{ question.name }}</h3>
                                        <select id="qcm{{ question.id }}" onchange="val({{ question.id }})">
                                            <option disabled selected value> -- select an answer -- </option>
                                            {% for answer in answers %}
                                                {% if answer.question.id == question.id %}
                                                    <option value="{{ answer.id }}">{{ answer.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endfor %}
                                <button type="button" name="save" id="save">submit qcm</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="mycampaignOnGoing" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.session.campaign.status.name == "ongoing" and mycampaign.status.name == "accepted" %}
                <div class="card" style="width: 30%">
                    <div class="container">
                        <p>{{ mycampaign.session.campaign.name }}</p>
                        <p>{{ mycampaign.session.campaign.description }}</p>
                        <button>Detail campaign</button>
                        <button type="button" data-toggle="modal" data-target="#detailsCampaign{{ mycampaign.id }}">Detail campaign ICI {{ mycampaign.id }}</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="mycampaignFinish" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.session.campaign.status.name == "finish" and mycampaign.status.name == "accepted" %}
                <div class="card" style="width: 30%">
                    <div class="container">
                        <p>{{ mycampaign.session.campaign.name }}</p>
                        <p>{{ mycampaign.session.campaign.description }}</p>
                        <button>Detail campaign</button>
{#                        <button type="button" data-toggle="modal" data-target="#detailsCampaign{{ mycampaign.id }}">Detail campaign ICI {{ mycampaign.id }}</button>#}
                        <a href="{{ path("campaign_details", {id:mycampaign.id}) }}">Cliquer ici</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br/><br/>

    <div class="container">
        <br/><br/>
        <button style="margin-top: 2%" id="exportButton" type="button">Exporter en PDF</button>
        <br/><br/><br/><br/>
        <div id="chartsContainer">
            <h2 style="text-align:center;">Nombres total de campagnes : {{ mycampaignscount }}</h2>
            <canvas id="campaigns" width="400" height="100"></canvas>
            <br>
            <canvas id="campaignsbar" width="400" height="100"></canvas>
            <br>
            <h5 style="text-align:center;">Nombres de personnnes souscrit et validée pour la campagne</h5>
            <canvas id="nbpersons" width="400" height="100"></canvas>
            <br>
        </div>
    </div>

</body>
</html>
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script>
            $("#exportButton").click(function(){
                html2canvas(document.querySelector("#chartsContainer")).then(canvas => {
                    var dataURL = canvas.toDataURL();
                    var pdf = new jsPDF();
                    pdf.addImage(dataURL, 'JPEG', 20, 20, 180, 160); //addImage(image, format, x-coordinate, y-coordinate, width, height)
                    pdf.save("Export_stats.pdf");
                });
            });

            let categories = document.querySelector("#campaigns")
            let categGraph = new Chart(categories, {
                    type: "doughnut",
                    data: {
                        // labels: ["ju", "ni"],
                        labels: {{ statusnom|raw }},
                        datasets: [{
                            label: "Répartition des catégories",
                            // data: [1,2],
                            data: {{ details_stats|raw }},
                            {#backgroundColor: {{ categColor|raw }}#}
                            backgroundColor: ["#6a5acd7a", "#f1cbc8", "#bfd0bd"]
                        }]
                    }
                })

            let campaignsbar = document.querySelector("#campaignsbar")
            let barGraph = new Chart(campaignsbar, {
                type: "line",
                data: {
                    labels: {{ statusnom|raw }},
                    datasets: [{
                        label: "Nombre d'annonces",
                        data: {{ details_stats|raw }},
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })

            let nbpersons = document.querySelector("#nbpersons")
            let nbpersonsGraph = new Chart(nbpersons, {
                type: "pie",
                data: {
                    // labels: ["Nombre total", "Nombre validée"],
                    labels: {{ statusnom|raw }},
                    datasets: [{
                        label: "Répartition des catégories",
                        // data: [1,2],
                        data: {{ nbpersons|raw }},
                        {#backgroundColor: {{ categColor|raw }}#}
                        backgroundColor: ["#6a5acd7a", "#f1cbc8", "#bfd0bd"]
                    }]
                }
            })

            let labels = document.querySelector("#labels")
            let labelsGraph = new Chart(labels, {
                type: "bar",
                data: {
                    labels: ["Nombre total", "Nombre validée"],
                    {#labels: {{ statusnom|raw }},#}
                    datasets: [{
                        label: "Questions",
                        data: [1,2],
                        {#data: {{ nbpersons|raw }},#}
                        {#backgroundColor: {{ categColor|raw }}#}
                        backgroundColor: ["#6a5acd7a", "#f1cbc8"]
                    }]
                }
            })



            $('[data-toggle="tooltip"]').tooltip();

            //button
            let show_allmycampaign = document.getElementById("show_allmycampaign");
            let show_my_campaign_OnGoing = document.getElementById("show_my_campaign_OnGoing");
            let show_my_campaign_finish = document.getElementById("show_my_campaign_finish");

            //div
            let allmycampaigns = document.getElementById("allmycampaigns");
            let mycampaignOnGoing = document.getElementById("mycampaignOnGoing");
            let mycampaignFinish = document.getElementById("mycampaignFinish");

            allmycampaigns.style.visibility = "visible";
            mycampaignOnGoing.style.visibility = "hidden";
            mycampaignFinish.style.visibility = "hidden";


            show_allmycampaign.addEventListener("click", function() {
                allmycampaigns.style.visibility = "visible";
                mycampaignOnGoing.style.visibility = "hidden";
                mycampaignFinish.style.visibility = "hidden";
            });

            show_my_campaign_OnGoing.addEventListener("click", function() {
                mycampaignOnGoing.style.visibility = "visible";
                allmycampaigns.style.visibility = "hidden";
                mycampaignFinish.style.visibility = "hidden";
            });

            show_my_campaign_finish.addEventListener("click", function() {
                mycampaignFinish.style.visibility = "visible";
                allmycampaigns.style.visibility = "hidden";
                mycampaignOnGoing.style.visibility = "hidden";
            });


            let id_campaign = document.getElementById('campaignID').value;
            let detail_campaign = document.getElementById("detail_campaign_" + id_campaign);

            let answers = []
            function val(question_id) {
                let choice = document.getElementById("qcm" + question_id).value;
                answers.push(choice);
                console.log(answers);
            }

            $('#save').click(function() {
                $.ajax({
                    type:"POST",
                    url:"{{ path('add_qcm') }}",
                    data:{
                        answers: answers,
                        number_answers: answers.length
                    },
                    success:function() {
                        window.location.reload();
                    }
                });
            });

        </script>

    {% endblock %}
{% endblock %}




