<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    {% endblock %}

    <div id="preloader">
        <div class="loader-logo"><img src="{{ asset('build/logo.png') }}" class="img-fluid"></div>
        <div class="loader"></div>
    </div>


    <nav class="navbar navbar-expand-lg" id="navbar_top">
        <div class="container-fluid">
            <div class="navbar-brand" data-aos="fade-right">
                <img src="{{ asset('build/logo.png') }}" class="img-fluid">
            </div>
            {% if app.user %}
            <a class="main-link mx-4" href="{{ path('admin') }}" data-aos="fade-left">
                My test space
            </a>
            {% else %}
            <a class="main-link mx-4" href="{{ path('app_login') }}" data-aos="fade-left">
                Connexion
            </a>
            {% endif %}
            <div class="button-toggle" onclick="openNavigation(this)" data-aos="fade-left">
                <span></span>
                <span></span>
                <span></span>
            </div>
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"#}
{#                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('what') }}">What we do</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Who we are</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Scientific Validation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Device & App</a>
                    </li>
                </ul>
                <div class="translation">
                    <a href="">
                        <img src="{{ asset('build/flag/EN.png') }}">
                    </a>
                    <a href="">
                        <img src="{{ asset('build/flag/FR.png') }}">
                    </a>
                </div>
                <div class="registration">
                    {% if app.user %}
                        <div class="p-3">
                            <i class="fa fa-user"></i> You are logged in as {{ app.user.username }}.<a class="main-link pink ms-3" style="display: inline" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                        {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('app_register') }}">Registration</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</head>
<body>
{% block body %}{% endblock %}


<footer class="footer">
    <div class="container">
        <div class="content" data-aos="zoom-in">
            <img src="{{ asset('build/logo.png') }}" class="img-fluid">
            <ul class="social-network">
                <li><a href="#"><i class="fa fa-instagram"></i> </a></li>
                <li><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
            </ul>
        </div>
        <div class="navigation">
            <div class="item" data-aos="fade-right">
                <div class="inner-item">
                    <h5>Lorem Ipsum</h5>
                    <ul>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                    </ul>
                </div>
            </div>
            <div class="item" data-aos="fade-right">
                <div class="inner-item">
                    <h5>Nos produits</h5>
                    <ul>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                        <li><a href="#" title="">Lorem Ipsum sit del</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <a>© 2022 VÉVÉ INDUSTRIE. All Rights Reserved.</a>
        </div>
    </div>
</footer>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

    <script>
        function openNavigation(elem) {
            var menu = document.getElementsByClassName('button-toggle');
            var navigation = document.getElementsByClassName('navbar-collapse');
            console.log(navigation[0]);

            if (menu[0].classList.contains('open')) {
                menu[0].classList.remove('open');
                navigation[0].classList.remove('show');
            }else{
                menu[0].classList.add('open');
                navigation[0].classList.add('show');
            }
        }
    </script>

{% endblock %}
</body>
</html>
