{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <section class="campaign">
        <div class="container">
            <div class="nav">
                <button class="item selected" onclick="campaignSelect(this)" id="allCampaign">List all campaigns</button>
                <button class="item" onclick="campaignSelect(this)" id="soon">Campaign soon</button>
                <button class="item" onclick="campaignSelect(this)" id="finish">Campaigns finish</button>
                <button class="item" onclick="campaignSelect(this)" id="ongoing">Campaigns ongoing</button>
            </div>

            <div id="allCampaign" class="block active">
                {% for campaign in allCampaigns %}
                    <div class="card">
                        <input type="hidden" value="{{ campaign.id }}" id="campaign_id">
                        <p class="status {{ campaign.status.name }}">{{ campaign.status.name }}</p>
                        <h4><b>{{ campaign.name }}</b></h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#listCampaignModal{{ campaign.id }}">Details campaigns
                        </button>
                    </div>
                    <div class="modal fade" id="listCampaignModal{{ campaign.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ campaign.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p> description :{{ campaign.description }}</p>
                                    {% for detail in details %}
                                        {% if detail.campaign.id == campaign.id %}
                                            <p>name product :{{ detail.name }}</p>
                                            <p>type :{{ detail.type }}</p>
                                            <p>gender :{{ detail.gender }}</p>
                                            <p>age range :{{ detail.agerange }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <p>{{ campaign.datestart |date("m/d/Y") }}-{{ campaign.dateend |date("m/d/Y") }}</p>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    {% for application in applications|filter(application => application.session.campaign.id == campaign.id and campaign.status.name == 'soon') %}
                                        <button name="inscription" id="inscription" type="button"
                                                onclick="addApplication({{ campaign.id }})" class="btn btn-danger"
                                                disabled>Already register
                                        </button>
                                    {% else %}
                                        {% if campaign.status.name == "soon" %}
                                            <button name="inscription" id="inscription" type="button"
                                                    onclick="addApplication({{ campaign.id }})" class="btn btn-primary">
                                                Register
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="soon" class="block">
                {% for campaignSoon in allCampaignSoon %}
                    <div class="card">
                        <p class="status {{ campaignSoon.status.name }}">{{ campaignSoon.status.name }}</p>
                        <h4><b>{{ campaignSoon.name }}</b></h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#listCampaignModal2{{ campaignSoon.id }}">Details campaigns
                        </button>
                    </div>
                    <div class="modal fade" id="listCampaignModal2{{ campaignSoon.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ campaignSoon.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p> description :{{ campaignSoon.description }}</p>
                                    {% for detail in details %}
                                        {% if detail.campaign.id == campaignSoon.id %}
                                            <p>name product :{{ detail.name }}</p>
                                            <p>type :{{ detail.type }}</p>
                                            <p>gender :{{ detail.gender }}</p>
                                            <p>age range :{{ detail.agerange }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <p>{{ campaignSoon.datestart |date("m/d/Y") }}-{{ campaignSoon.dateend |date("m/d/Y") }}</p>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    {% for application in applications|filter(application => application.session.campaign.id == campaignSoon.id and campaignSoon.status.name == 'soon') %}
                                        <button name="inscription" id="inscription" type="button"
                                                onclick="addApplication({{ campaignSoon.id }})" class="btn btn-danger"
                                                disabled>Already register
                                        </button>
                                    {% else %}
                                        {% if campaignSoon.status.name == "soon" %}
                                            <button name="inscription" id="inscription" type="button"
                                                    onclick="addApplication({{ campaignSoon.id }})" class="btn btn-primary">
                                                Register
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="finish" class="block">
                {% for campaignFinish in allCampaignFinish %}
                    <div class="card">
                        <p class="status {{ campaignFinish.status.name }}">{{ campaignFinish.status.name }}</p>
                        <h4><b>{{ campaignFinish.name }}</b></h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#listCampaignModal3{{ campaignFinish.id }}">Details campaigns
                        </button>
                    </div>
                    <div class="modal fade" id="listCampaignModal3{{ campaignFinish.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ campaignFinish.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p> description :{{ campaignFinish.description }}</p>
                                    {% for detail in details %}
                                        {% if detail.campaign.id == campaignFinish.id %}
                                            <p>name product :{{ detail.name }}</p>
                                            <p>type :{{ detail.type }}</p>
                                            <p>gender :{{ detail.gender }}</p>
                                            <p>age range :{{ detail.agerange }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <p>{{ campaignFinish.datestart |date("m/d/Y") }}-{{ campaignFinish.dateend |date("m/d/Y") }}</p>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    {% for application in applications|filter(application => application.session.campaign.id == campaignFinish.id and campaignFinish.status.name == 'soon') %}
                                        <button name="inscription" id="inscription" type="button"
                                                onclick="addApplication({{ campaignFinish.id }})" class="btn btn-danger"
                                                disabled>Already register
                                        </button>
                                    {% else %}
                                        {% if campaignFinish.status.name == "soon" %}
                                            <button name="inscription" id="inscription" type="button"
                                                    onclick="addApplication({{ campaignFinish.id }})" class="btn btn-primary">
                                                Register
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="ongoing" class="block">
                {% for campaignOngoing in allCampaignOngoing %}
                    <div class="card">
                        <p class="status {{ campaignOngoing.status.name }}">{{ campaignOngoing.status.name }}</p>
                        <h4><b>{{ campaignOngoing.name }}</b></h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#listCampaignModal3{{ campaignOngoing.id }}">Details campaigns
                        </button>
                    </div>
                    <div class="modal fade" id="listCampaignModal3{{ campaignOngoing.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ campaignOngoing.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Détails de la campagne : {{ campaignOngoing.description }}</p>
                                    <p>Début : {{ campaignOngoing.datestart |date("m/d/Y") }}</p>
                                    <p>Fin : {{ campaignOngoing.dateend |date("m/d/Y") }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    {% if campaignOngoing.status.name == "soon" %}
                                        <button name="inscription" id="inscription" type="button"
                                                onclick="addApplication({{ campaignOngoing.id }})"
                                                class="btn btn-primary">S'inscrire
                                        </button>
                                    {% else %}
                                        <button name="inscription" id="inscription" type="button"
                                                onclick="addApplication({{ campaignOngoing.id }})"
                                                class="btn btn-primary" disabled>S'inscrire
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {% block javascripts %}
        <script type="text/javascript">
            function campaignSelect(elem) {
                var item = document.getElementsByClassName('item');
                console.log(item)
                for (i = 0; i < item.length; i++) {
                    item[i].classList.remove('selected')
                }
                elem.classList.add('selected');

                var block = document.getElementsByClassName('block');
                for (i = 0; i < block.length; i++) {
                    block[i].classList.remove('active');
                    if (elem.id == block[i].id) {
                        block[i].classList.add('active')
                    }
                }
            }

            // //button
            // let show_allcampaign = document.getElementById("show_allcampaign");
            // let show_campaign_soon = document.getElementById("show_campaign_soon");
            // let show_campaign_finish = document.getElementById("show_campaign_finish");
            // let show_campaign_ongoing = document.getElementById("show_campaign_ongoing");
            //
            // //div
            // let allcampaign = document.getElementById("allcampaign");
            // let campaign_soon = document.getElementById("campaign_soon");
            // let campaign_finish = document.getElementById("campaign_finish");
            // let campaign_ongoing = document.getElementById("campaign_ongoing");
            //
            // allcampaign.style.visibility = "visible";
            // campaign_soon.style.visibility = "hidden";
            // campaign_finish.style.visibility = "hidden";
            // campaign_ongoing.style.visibility = "hidden";
            //
            // show_allcampaign.addEventListener("click", function () {
            //     allcampaign.style.visibility = "visible";
            //     campaign_soon.style.visibility = "hidden";
            //     campaign_finish.style.visibility = "hidden";
            //     campaign_ongoing.style.visibility = "hidden";
            // });
            //
            // show_campaign_soon.addEventListener("click", function () {
            //     campaign_soon.style.visibility = "visible";
            //     allcampaign.style.visibility = "hidden";
            //     campaign_finish.style.visibility = "hidden";
            //     campaign_ongoing.style.visibility = "hidden";
            // });
            //
            // show_campaign_finish.addEventListener("click", function () {
            //     campaign_finish.style.visibility = "visible";
            //     allcampaign.style.visibility = "hidden";
            //     campaign_soon.style.visibility = "hidden";
            //     campaign_ongoing.style.visibility = "hidden";
            // });
            //
            // show_campaign_ongoing.addEventListener("click", function () {
            //     campaign_ongoing.style.visibility = "visible";
            //     campaign_finish.style.visibility = "hidden";
            //     allcampaign.style.visibility = "hidden";
            //     campaign_soon.style.visibility = "hidden";
            // });

            let idCampaign = document.getElementById("campaign_id").value;

            function addApplication(idCampaign) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('add_application') }}",
                    data: {
                        campaign: idCampaign
                    },
                    success: function () {
                        console.log(idCampaign);
                        window.location.reload();
                    }

                });
            }


        </script>

    {% endblock %}
{% endblock %}



