{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <section class="campaign">
        <div class="container">
            <div class="nav">
                <button class="item selected" onclick="campaignSelect(this)" id="allCampaign">List all campaigns
                </button>
                <button class="item" onclick="campaignSelect(this)" id="soon">Campaign soon</button>
                <button class="item" onclick="campaignSelect(this)" id="finish">Campaigns finish</button>
                <button class="item" onclick="campaignSelect(this)" id="ongoing">Campaigns ongoing</button>
            </div>

            <!-- PARTIE LIST ALL MY CAMPAIGN -->
            <div class="block active" id="allCampaign">
                {% for mycampaign in mycampaigns %}
                    <!-- CARD ALL MY CAMPAIGN -->
                    <div class="card">
                        <p class="status {{ mycampaign.session.campaign.status.name}}">{{ mycampaign.session.campaign.status.name }}</p>
                        <h4><b>{{ mycampaign.session.campaign.name }}</b></h4>
                        <p class="text-center text-uppercase font-weight-bold">{{ mycampaign.session.campaign.datestart |date("m/d/Y") }}
                            - {{ mycampaign.session.campaign.dateend |date("m/d/Y") }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#detailsListMyCampaign{{ mycampaign.session.campaign.id }}">Details
                            campaign
                        </button>
                    </div>
                    <!-- MODAL ALL MY CAMPAIGN DETAILS -->
                    <div class="modal fade" id="detailsListMyCampaign{{ mycampaign.session.campaign.id }}"
                         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">{{ mycampaign.session.campaign.name }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>Description</h4>
                                    <p>{{ mycampaign.session.campaign.description }}</p>
                                    <h4>Number of register</h4>
                                    <p> {{ mycampaign.session.campaign.numberTester }}</p>
                                    {% for detail in details %}
                                        {% if detail.campaign.id == mycampaign.session.campaign.id %}
                                            <h4>Name product</h4>
                                            <p>{{ detail.name }}</p>
                                            <h4>Type</h4>
                                            <p>{{ detail.type }}</p>
                                            <h4>Gender</h4>
                                            <p>{{ detail.gender }}</p>
                                            <h4>Age Range</h4>
                                            <p>{{ detail.agerange }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    {% if mycampaign.qcmisanswered == 0 and mycampaign.session.campaign.status.name == "ongoing" %}
                                        <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                                class="btn btn-success" data-bs-target="#qcm-campaign{{ mycampaign.session.campaign.id }}">
                                            QCM
                                        </button>
                                    {% elseif mycampaign.qcmisanswered == 1 and (mycampaign.session.campaign.status.name == "ongoing" or mycampaign.session.campaign.status.name == "finish") %}
                                        <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                                class="btn btn-success" data-bs-target="#qcm-my-answers-campaign{{ mycampaign.session.campaign.id }}">
                                            See my answers
                                        </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL ALL MY CAMPAIGN QCM -->
                    <div id="qcm-campaign{{ mycampaign.session.campaign.id }}" class="modal fade" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">QCM of the campaign
                                        : {{ mycampaign.session.campaign.name }}</h5>
                                    <i class="fas fa-arrow-left" data-bs-dismiss="modal" data-bs-toggle="modal"
                                       data-bs-target="#detailsListMyCampaign{{ mycampaign.session.campaign.id }}"></i>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="qcmALLCAMPAIGN">
                                    {% for question in questions %}
                                        {% if question.campaign.id == mycampaign.session.campaign.id %}
                                            <fieldset id="fieldset{{ mycampaign.session.campaign.id }}">
                                                <input type="hidden"/>
                                                <legend>{{ question.name }}</legend>
                                                {% for answer in answers %}
                                                    {% if answer.question.id == question.id %}
                                                        <div>
                                                            <input type="radio" name="{{ question.id }}"
                                                                   id="{{ answer.id }}" value="{{ answer.id }}"
                                                                   required/>
                                                            <label for="{{ answer.id }}">{{ answer.name }}</label>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </fieldset>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                    <input type="button" value="Submit"
                                           onclick="validateQCM({{ mycampaign.session.campaign.id }})"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL ALL MY CAMPAIGN ANSWER QCM -->
                    <div id="qcm-my-answers-campaign{{ mycampaign.session.campaign.id }}" class="modal fade"
                         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">QCM of the campaign
                                        : {{ mycampaign.session.campaign.name }}</h5>
                                    <i class="fas fa-arrow-left" data-bs-dismiss="modal" data-bs-toggle="modal"
                                       data-bs-target="#detailsListMyCampaign{{ mycampaign.session.campaign.id }}"></i>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% for question in questions %}
                                        {% if question.campaign.id == mycampaign.session.campaign.id %}
                                            <fieldset id="fieldset{{ mycampaign.session.campaign.id }}">
                                                <legend>{{ question.name }}</legend>
                                                {% for myanswer in myanswers %}
                                                    {% if myanswer.questionanswer.question.id == question.id %}
                                                        <div>
                                                            <label>{{ myanswer.questionanswer.name }}</label>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </fieldset>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- PARTIE LIST ALL MY CAMPAIGN SOON-->
            <div id="soon" class="block">
                {% for mycampaignSoon in mycampaignsSoon %}
                    <!-- CARD ALL MY CAMPAIGN SOON -->
                    <div class="card">
                        <p class="status {{ mycampaignSoon.session.campaign.status.name}}">{{ mycampaignSoon.session.campaign.status.name }}</p>
                        <h4><b>{{ mycampaignSoon.session.campaign.name }}</b></h4>
                        <p class="text-center text-uppercase font-weight-bold">{{ mycampaignSoon.session.campaign.datestart |date("m/d/Y") }}
                            - {{ mycampaignSoon.session.campaign.dateend |date("m/d/Y") }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#detailsListMyCampaignSoon{{ mycampaignSoon.session.campaign.id }}">
                            Details campaign
                        </button>
                    </div>
                    <!-- MODAL ALL MY CAMPAIGN SOON DETAILS -->
                    <div class="modal fade" id="detailsListMyCampaignSoon{{ mycampaignSoon.session.campaign.id }}"
                         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">{{ mycampaignSoon.session.campaign.name }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>Description</h4>
                                    <p>{{ mycampaignSoon.session.campaign.description }}</p>
                                    <h4>Number of register</h4>
                                    <p> {{ mycampaignSoon.session.campaign.numberTester }}</p>
                                    {% for detail in details %}
                                        {% if detail.campaign.id == mycampaignSoon.session.campaign.id %}
                                            <h4>Name product</h4>
                                            <p>{{ detail.name }}</p>
                                            <h4>Type</h4>
                                            <p>{{ detail.type }}</p>
                                            <h4>Gender</h4>
                                            <p>{{ detail.gender }}</p>
                                            <h4>Age Range</h4>
                                            <p>{{ detail.agerange }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- PARTIE LIST ALL MY CAMPAIGN ONGOING -->
            <div id="ongoing" class="block">
                {% for mycampaignOngoing in mycampaignsOngoing %}
                <!-- CARD ALL MY CAMPAIGN ONGOING -->
                <div class="card">
                    <p class="status {{ mycampaignOngoing.session.campaign.status.name}}">{{ mycampaignOngoing.session.campaign.status.name }}</p>
                    <h4><b>{{ mycampaignOngoing.session.campaign.name }}</b></h4>
                    <p class="text-center text-uppercase font-weight-bold">{{ mycampaignOngoing.session.campaign.datestart |date("m/d/Y") }}
                        - {{ mycampaignOngoing.session.campaign.dateend |date("m/d/Y") }}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#detailsListMyCampaignOngoing{{ mycampaignOngoing.session.campaign.id }}">
                        Details campaign
                    </button>
                </div>
                <!-- MODAL ALL MY CAMPAIGN ONGOING DETAILS -->
                <div class="modal fade"
                     id="detailsListMyCampaignOngoing{{ mycampaignOngoing.session.campaign.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="exampleModalLabel">{{ mycampaignOngoing.session.campaign.name }}
                                </h5>
                                <p>{{ mycampaignOngoing.session.campaign.datestart |date("m/d/Y") }}
                                    -{{ mycampaignOngoing.session.campaign.dateend |date("m/d/Y") }}</p>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Description</h4>
                                <p>{{ mycampaignOngoing.session.campaign.description }}</p>
                                <h4>Number of register</h4>
                                <p>{{ mycampaignOngoing.session.campaign.numberTester }}</p>
                                {% for detail in details %}
                                    {% if detail.campaign.id == mycampaignOngoing.session.campaign.id %}
                                        <h4>Name product</h4>
                                        <p>{{ detail.name }}</p>
                                        <h4>Type</h4>
                                        <p>{{ detail.type }}</p>
                                        <h4>Gender</h4>
                                        <p>{{ detail.gender }}</p>
                                        <h4>Age Range</h4>
                                        <p>{{ detail.agerange }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                {% if mycampaignOngoing.qcmisanswered == 0 and mycampaignOngoing.session.campaign.status.name == "ongoing" %}
                                    <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                            class="btn btn-success" data-bs-target="#qcm-campaign-ongoing{{ mycampaignOngoing.session.campaign.id }}">
                                        QCM
                                    </button>
                                {% elseif mycampaignOngoing.qcmisanswered == 1 and (mycampaignOngoing.session.campaign.status.name == "ongoing" or mycampaignOngoing.session.campaign.status.name == "finish") %}
                                    <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                            class="btn btn-success" data-bs-target="#qcm-my-answers-campaign-ongoing{{ mycampaignOngoing.session.campaign.id }}">
                                        See my answers
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL ALL MY CAMPAIGN ONGOING QCM -->
                <div id="qcm-campaign-ongoing{{ mycampaignOngoing.session.campaign.id }}" class="modal fade"
                     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">QCM of the campaign
                                    : {{ mycampaignOngoing.session.campaign.name }}</h5>
                                <i class="fas fa-arrow-left" data-bs-dismiss="modal" data-bs-toggle="modal"
                                   data-bs-target="#detailsListMyCampaignOngoing{{ mycampaignOngoing.session.campaign.id }}"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="qcmALLCAMPAIGNONGOING">
                                {% for question in questions %}
                                    {% if question.campaign.id == mycampaignOngoing.session.campaign.id %}
                                        <fieldset id="fieldset{{ mycampaignOngoing.session.campaign.id }}">
                                            <input type="hidden"/>
                                            <legend>{{ question.name }}</legend>
                                            {% for answer in answers %}
                                                {% if answer.question.id == question.id %}
                                                    <div>
                                                        <input type="radio" name="{{ question.id }}"
                                                               id="{{ answer.id }}" value="{{ answer.id }}"
                                                               required/>
                                                        <label for="{{ answer.id }}">{{ answer.name }}</label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </fieldset>
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <input type="button" value="Submit"
                                       onclick="validateQCM({{ mycampaignOngoing.session.campaign.id }})"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL ALL MY CAMPAIGN ONGOING ANSWER QCM -->
                <div id="qcm-my-answers-campaign-ongoing{{ mycampaignOngoing.session.campaign.id }}"
                     class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">QCM of the campaign
                                    : {{ mycampaignOngoing.session.campaign.name }}</h5>
                                <i class="fas fa-arrow-left" data-bs-dismiss="modal" data-bs-toggle="modal"
                                   data-bs-target="#detailsListMyCampaignOngoing{{ mycampaignOngoing.session.campaign.id }}"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for question in questions %}
                                    {% if question.campaign.id == mycampaignOngoing.session.campaign.id %}
                                        <fieldset id="fieldset{{ mycampaignOngoing.session.campaign.id }}">
                                            <legend>{{ question.name }}</legend>
                                            {% for myanswer in myanswers %}
                                                {% if myanswer.questionanswer.question.id == question.id %}
                                                    <div>
                                                        <label>{{ myanswer.questionanswer.name }}</label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </fieldset>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!-- PARTIE LIST ALL MY CAMPAIGN FINISH-->
            <div id="finish" class="block">
                {% for mycampaignFinish in mycampaignsFinish %}
                <!-- CARD ALL MY CAMPAIGN FINISH -->
                <div class="card">
                    <p class="status {{ mycampaignFinish.session.campaign.status.name}}">{{ mycampaignFinish.session.campaign.status.name }}</p>
                    <h4><b>{{ mycampaignFinish.session.campaign.name }}</b></h4>
                    <p class="text-center text-uppercase font-weight-bold">{{ mycampaignFinish.session.campaign.datestart |date("m/d/Y") }}
                        - {{ mycampaignFinish.session.campaign.dateend |date("m/d/Y") }}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#detailsListMyCampaignFinish{{ mycampaignFinish.session.campaign.id }}">
                        Details campaign
                    </button>
                    <!-- MODAL ALL MY CAMPAIGN FINISH DETAILS -->
                </div>
                <div class="modal fade" id="detailsListMyCampaignFinish{{ mycampaignFinish.session.campaign.id }}"
                     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="exampleModalLabel">{{ mycampaignFinish.session.campaign.name }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Description</h4>
                                <p>{{ mycampaignFinish.session.campaign.description }}</p>
                                <h4>Number of register</h4>
                                <p>{{ mycampaignFinish.session.campaign.numberTester }}</p>
                                {% for detail in details %}
                                    {% if detail.campaign.id == mycampaignFinish.session.campaign.id %}
                                        <h4>Name product</h4>
                                        <p>{{ detail.name }}</p>
                                        <h4>Type</h4>
                                        <p>{{ detail.type }}</p>
                                        <h4>Gender</h4>
                                        <p>{{ detail.gender }}</p>
                                        <h4>Age Range</h4>
                                        <p>{{ detail.agerange }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                {% if mycampaignFinish.qcmisanswered == 1 and mycampaignFinish.session.campaign.status.name == "finish" %}
                                    <button type="button" data-bs-dismiss="modal" data-bs-toggle="modal"
                                            class="btn btn-success" data-bs-target="#qcm-my-answers-campaign-finish{{ mycampaignFinish.session.campaign.id }}">
                                        See my answers
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL ALL MY CAMPAIGN FINISH ANSWER QCM -->
                <div id="qcm-my-answers-campaign-finish{{ mycampaignFinish.session.campaign.id }}" class="modal fade"
                     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">QCM of the campaign
                                    : {{ mycampaignFinish.session.campaign.name }}</h5>
                                <i class="fas fa-arrow-left" data-bs-dismiss="modal" data-bs-toggle="modal"
                                   data-bs-target="#detailsListMyCampaignFinish{{ mycampaignFinish.session.campaign.id }}"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for question in questions %}
                                    {% if question.campaign.id == mycampaignFinish.session.campaign.id %}
                                        <fieldset id="fieldset{{ mycampaignFinish.session.campaign.id }}">
                                            <legend>{{ question.name }}</legend>
                                            {% for myanswer in myanswers %}
                                                {% if myanswer.questionanswer.question.id == question.id %}
                                                    <div>
                                                        <label>{{ myanswer.questionanswer.name }}</label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </fieldset>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </section>


    {% block javascripts %}
        <script type="text/javascript">

            function campaignSelect(elem) {
                var item = document.getElementsByClassName('item');
                for (i = 0; i < item.length; i++) {
                    item[i].classList.remove('selected')
                }
                elem.classList.add('selected');

                var block = document.getElementsByClassName('block');
                for (i = 0; i < block.length; i++) {
                    block[i].classList.remove('active');
                    if (elem.id == block[i].id) {
                        block[i].classList.add('active')
                    }
                }
            }


            function validateQCM(campaignId) {
                let answers = [];
                let numberAllCampaign = $(`#qcmALLCAMPAIGN #fieldset${campaignId} input[type = hidden]`).length;
                let numberAllCampaignOngoing = $(`#qcmALLCAMPAIGNONGOING #fieldset${campaignId} input[type = hidden]`).length;
                $(`#fieldset${campaignId} input[type = radio]:checked`).each(function (key, value) {
                    answers.push($(this).val());
                });

                console.log(answers.length);
                console.log(numberAllCampaign);
                console.log(numberAllCampaignOngoing);
                if (answers.length === numberAllCampaign || answers.length === numberAllCampaignOngoing) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('add_qcm') }}",
                        data: {
                            answers: answers,
                            number_answers: answers.length,
                            campaign: campaignId
                        },
                        success: function () {
                            window.location.reload();
                            toastr.success('QCM send !', 'Success', {
                                positionClass: "toast-top-center",
                                escapeHtml: true
                            });
                        }, error: function () {
                            answers.splice(0, answers.length);
                            toastr.error('QCM not complete !', 'Error', {
                                positionClass: "toast-top-center",
                                escapeHtml: true
                            });
                        }
                    });
                } else {
                    answers.splice(0, answers.length);
                    toastr.error('QCM not complete !', 'Error', {positionClass: "toast-top-center", escapeHtml: true});
                }
            }
        </script>

    {% endblock %}
{% endblock %}




