{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>List campaign</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <body>
    <div class="container" style="align-items: center; display: flex; justify-content: center">
        <button id="show_allmycampaign">List all my campaigns</button>
        <button id="show_my_campaign_soon">My campaigns soon</button>
        <button id="show_my_campaign_finish">My campaigns finish</button>
    </div>


    <div id="allmycampaigns" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.status.name == "accepted" %}
            <div class="card" style="width: 30%">
                <div class="container">
                    <input type="hidden" value="{{ mycampaign.id }}" id="campaignID">
                    <p>{{ mycampaign.session.campaign.name }}</p>
                    <p>{{ mycampaign.session.campaign.description }}</p>
                    <button type="button" data-toggle="modal" data-target="#detailsCampaign{{ mycampaign.id }}">Detail campaign</button>
                </div>
            </div>

                <div id="detailsCampaign{{ mycampaign.id }}" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                {% if details.campaign.id == mycampaign.id %}
                                    <p>name :{{ details.name }}</p>
                                    <p>type:{{ details.type }}</p>
                                    {% endif %}
                                {% if mycampaign.session.campaign.status.name == "ongoing" %}
                                    <span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><button type="button" data-dismiss="modal" data-toggle="modal" data-target="#qcm-campaign{{ mycampaign.id }}">qcm</button></span>
                                {% else %}
                                    <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#qcm-campaign{{ mycampaign.id }}"  disabled>qcm</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="qcm-campaign{{ mycampaign.id }}" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <i class="fa fa-angle-double-left" data-dismiss="modal" data-toggle="modal" data-target="#detailsCampaign{{ mycampaign.id }}"></i>
                                <h1>QCM de la campaign {{ mycampaign.id }}</h1>
                                {% for question in questions %}
                                    {% if question.campaign.id == mycampaign.id %}
                                        <h3>{{ question.name }}</h3>
                                        <select id="qcm{{ question.id }}" onchange="val({{ question.id }})">
                                            <option disabled selected value> -- select an answer -- </option>
                                        {% for answer in answers %}
                                            {% if answer.question.id == question.id %}
                                            <option value="{{ answer.id }}">{{ answer.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endfor %}
                                <button type="button" name="save" id="save">submit qcm</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="mycampaignSoon" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.session.campaign.status.name == "soon" and mycampaign.status.name == "accepted" %}
            <div class="card" style="width: 30%">
                <div class="container">
                    <p>{{ mycampaign.session.campaign.name }}</p>
                    <p>{{ mycampaign.session.campaign.description }}</p>
                    <button>Detail campaign</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="mycampaignFinish" style="position: absolute; width: 100%; display: flex">
        {% for mycampaign in mycampaigns %}
            {% if mycampaign.session.campaign.status.name == "finish" and mycampaign.status.name == "accepted" %}
            <div class="card" style="width: 30%">
                <div class="container">
                    <p>{{ mycampaign.session.campaign.name }}</p>
                    <p>{{ mycampaign.session.campaign.description }}</p>
                    <button>Detail campaign</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
    {% block javascripts %}
        <script type="text/javascript">

            $('[data-toggle="tooltip"]').tooltip();

            //button
            let show_allmycampaign = document.getElementById("show_allmycampaign");
            let show_my_campaign_soon = document.getElementById("show_my_campaign_soon");
            let show_my_campaign_finish = document.getElementById("show_my_campaign_finish");

            //div
            let allmycampaigns = document.getElementById("allmycampaigns");
            let mycampaignSoon = document.getElementById("mycampaignSoon");
            let mycampaignFinish = document.getElementById("mycampaignFinish");

            allmycampaigns.style.visibility = "visible";
            mycampaignSoon.style.visibility = "hidden";
            mycampaignFinish.style.visibility = "hidden";


            show_allmycampaign.addEventListener("click", function() {
                allmycampaigns.style.visibility = "visible";
                mycampaignSoon.style.visibility = "hidden";
                mycampaignFinish.style.visibility = "hidden";
            });

            show_my_campaign_soon.addEventListener("click", function() {
                mycampaignSoon.style.visibility = "visible";
                allmycampaigns.style.visibility = "hidden";
                mycampaignFinish.style.visibility = "hidden";
            });

            show_my_campaign_finish.addEventListener("click", function() {
                mycampaignFinish.style.visibility = "visible";
                allmycampaigns.style.visibility = "hidden";
                mycampaignSoon.style.visibility = "hidden";
            });


            let id_campaign = document.getElementById('campaignID').value;
            let detail_campaign = document.getElementById("detail_campaign_" + id_campaign);

            let answers = []
            function val(question_id) {
                let choice = document.getElementById("qcm" + question_id).value;
                answers.push(choice);
                console.log(answers);
            }

            $('#save').click(function() {
               $.ajax({
                   type:"POST",
                   url:"{{ path('add_qcm') }}",
                   data:{
                       answers: answers,
                       number_answers: answers.length
                   },
                   success:function() {
                       window.location.reload();
                   }
               });
            });


        </script>

    {% endblock %}
{% endblock %}




